
.container{
    padding: 0px;

  }
  
  .landing {
    width: 100%;
    min-height: 400px;
    background-color: rgb(207, 197, 197);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: url('https://images.unsplash.com/photo-1633613286991-611fe299c4be?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }


  .landing div h2 {
    font-size: 2.9rem;
    color: rgb(56, 44, 44);
    
  }

  .landing div h2 span{
    color: green;
  }

  .search-bar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
  }
  
  label {
    display: flex;
    align-items: center;
  }
  
  input[type="text"] {
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    outline: none;
    width: 300px;
  }
  
  input[type="text"]:focus {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  }
  
  button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
  }

  .commerce{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    padding-top: 60px;
    
  }

  .ecommerce {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    gap: 10px;
  }
  
  .commerce h2 {
    margin-bottom: 20px;
    font-size: 20px;
    margin: 20px;
    padding: 20px;
  }
  
  .ecommerce button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 100px;
    margin-bottom: 20px;
    background-color: #f2f2f2;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid rgb(224, 211, 211);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    cursor: pointer;
    border-radius: 10px;
    font-size: 16px;
    
  }


  .ecommerce button:hover{
    color: rgb(4, 120, 197);
    background-color: rgb(207, 211, 211);
  }
  
  @media screen and (max-width: 600px) {
    .ecommerce button {
      width: 100%;
    }
  }

  .topreviews {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
  }
  
  .topreviews h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 20px;
    text-align: center;
  }
  
  .review-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 5px;
  }
  
  #review-container {
    background-color: #f5f1f1;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    font-size: 16px;
    color: #333;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    background-color: #f2f2f2;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid rgb(224, 211, 211);
  }

  .review-container {
    background-color: #f5f1f1;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    font-size: 16px;
    color: #333;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    background-color: #f2f2f2;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid rgb(224, 211, 211);
  }
  
  .review-grid #review-container {
    margin: 10px;
    padding: 10px;
    background-color: #f2f2f2;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid rgb(224, 211, 211);
  }
  


  
  
  @media screen and (max-width: 768px) {
  .review-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .review-grid {
    grid-template-columns: 1fr;
  }
}

#toprow{
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 0;
  border: none;
}

#toprow h4{
  color: #363434;
  padding: 5px;
}

#toprow h4 span{
  margin-left: 10px;
  font-size: 16px;
  color: rgb(6, 163, 6);
}


#toprow img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 30px;
}

#bottomrow{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;

}
#bottomrow h3 {
  font-size: 16px;

}

#bottomrow p {
  font-size: 15px;
  margin: 10px;
  padding: 15px;
}


.text-form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px;
  border-radius: 10px;
  background-color: #d4cfcf;
  padding: 20px;
  margin: 20px;
  padding-top: 60px;
}

.text{
  height: 450px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 10px;
  margin: 0px 0px;
  display: grid;
  border-radius: 20px;
  position: relative;


}

.text img{
  height: 530px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: fit-content;
  opacity: 0.8;
  border-radius: 10px;
}

.text h3{
  font-size: 50px;
  margin: auto;
  color: rgb(206, 3, 64);
  font-weight: 900;
  align-self: center;
  position: absolute;
  left: 200px;
  top: 100px;
  

}

.review-form{
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 600px;
  text-align: center;
  margin: 0px;
  background-color: #d4cfcf;
}

form #input-shop{
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  width: 100%;
  height: 36px;
}


form #input-name{
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  width: 100%;
  height: 36px;
}

form #imgurl{
  margin: 10px;
  padding: 10px;
  height: 36px;
  border-radius: 15px;
  border: none;
  width: 100%;
}

form #review-tittle{
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  width: 100%;
  height: 36px;

}

form textarea {
  height: 130px;
  border: #f2f2f2;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
  width: 100%;


}
form label{
  padding: 4px;
  margin: 2px 10px;
  font-size: 16px;
  font-weight: 200;
}

form #input-submit {
  color: white;
  background: #100d2b;
  cursor: pointer;
  margin: 10px;
  height: 36px;
  border-radius: 10px;
  width: 100%;
}

.star, .star1 {
  font-size: 36px;
  color: #ffffff;
  cursor: pointer;
  transition: color 0.3s ease;
  padding: 5px;
  margin: 2px;
}

.star:hover,
.star.active
.star1:hover,
.star1.active.active  {
  color: #077215;
}


#Business{
  background-color: #ebe4e4;
  min-height: 500px;
   display: flex;
   padding: 30px 10px 10px 10px;
   gap: 10px;
}

.left{
  background-color: #e24bb2;
  width: 50%;
  border-radius: 10px;

}

.left h2{
  font-size: 36px;
  text-align: center;
  margin-top: 60px;
  padding: 10px;
}

.left p{
  text-align: center;
  padding: 20px;
  margin: 30px;
}

.right{
  width: 50%;
  background-color: #7ee28e;
  padding: 10px;
  border-radius: 10px;
}


.right h2{
  font-size: 36px;
  text-align: center;
  margin-top: 60px;
  padding: 10px;
}

.right p{
  text-align: center;
  padding: 20px;
  margin: 30px;
}
